.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.para{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.btn{
    display: flex;
    margin-top: 5em;
    justify-content: center;
}
.btn button{
    background-color: rgb(91, 88, 88);
    padding: 15px;
}
.btn button a{
    color: azure;
}
.btn button:hover{
    background-color: rgb(54, 53, 53);
}



